html {
    --linkColor: #069;
    --linkHover: #DD6900;
}

/* компоновочный блок */
.layout-block {

}

/* TODO-refactor: font-family, font-size, line-height
    font-family:
        - определять выше
    font-size:
        - определять выше
    line-height:
        - определять выше
*/
.layout-block h2 {
    background-color: #EFEFEF;
    border-bottom: 1px solid #D1D7DC;
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5;
    padding: 5px;
}

.layout-block h2::before {
    content: '\00BB';
    display: inline-block;
    margin-right: 3px;
}

/* новости */
.news-item {
    margin-top: 20px;
    padding: 0 10px 16px 10px;
}

/* TODO-refactor: font-family, font-size, line-height
    font-family:
        - указать дополнительные шрифты
        - определять выше
    font-size:
        - определять выше
    line-height:
        - определять выше
*/
.news-item h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

.news-item a {
    color: var(--linkColor);
}

.news-item a:hover,
.news-item a:focus,
.news-item a:active {
    color: var(--linkHover);
}

.news-item p {
/* TODO-refactor: font-family, font-size, line-height
    font-family:
        - навести порядок со шрифтами, оставить наиболее похожие и поддерживаемые
        - определять выше
    font-size:
        - определять выше
    line-height:
        - определять выше
*/
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.news-item img {
    height: auto;
    width: 100%;
}

.news-item footer {
/* TODO-refactor: font-family, font-size, font-weight
    font-family:
        - навести порядок со шрифтами, оставить наиболее похожие и поддерживаемые
        - определять выше
    font-size:
        - определять выше
    font-weight:
        - использовать утилитарный класс?
*/
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

/* блок ссылок на форум нод блоком новостей */
.forum-links ul {
/* TODO-refactor: font-family, font-size, font-weight, line-height
    font-family:
        - навести порядок со шрифтами, оставить наиболее похожие и поддерживаемые
        - определять выше
    font-size:
        - определять выше
    font-weight:
        - использовать утилитарный класс?
    line-height:
        - определять выше
*/
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    list-style: none;
    margin: 0 0 0 14px;
    padding: 0;
}

.forum-links li {
    line-height: 1.5;
}

.forum-links a {
    color: var(--linkColor);
    text-decoration: none;
}

.forum-links a:hover,
.forum-links a:focus,
.forum-links a:active {
    color: var(--linkHover);
}

[tabindex="-1"]:focus {
    outline: none;
}

.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}    

/* блок "Интересное */
.most-interesting-links ul {
    list-style: none;
    margin: 0 0 0 9px;
    padding: 20px 0;
}

.most-interesting-links li {
    display: inline-block;
}

@media (min-width: 1024px) {
    .news-item {
        border-left: 3px solid #D1D7DC;
        display: grid;
        grid-template-areas:
            "title author"
            "text text";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding-bottom: 0;
    }

    .news-item h3 {
        grid-area: title;
        margin: 0;
    }

    .news-item p {
        grid-area: text;
    }

    .news-item img {
        float: left;
        margin: 5px 5px 5px 1px;
        width: 120px;
    }

    .news-item footer {
        grid-area: author;
        line-height: 3;
        white-space: nowrap;
    }
}